{% extends "landing/base.html" %}

{% load static %}

{% block main %}

    <section class="jumbotron-fm">
    	<div class="container">
        <!--	 -->

            <br> 
            <h1>Estepona pisos alquiler</h1>
            <p>Pisos con vistas al mar en el centro de Estepona</p>
			<br>
        </div> <!-- container -->
	</section>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
<!-- Primera fila de fotos -->      
      	<div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 D/IMG-20150329-WA0002.jpg' %}" alt="Estepona alquilar piso paseo marítimo">
                    		<div class="caption">                        	
                            <p>Salón</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 D/IMG-20150323-WA0002.jpg' %}" alt="Alquilar piso Estepona">
                    		<div class="caption">                        	
                            <p>Salón con terraza</p>                 			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 D/IMG-20150323-WA0004.jpg' %}" alt="Estepona piso alquiler paseo marítimo">
                    <div class="caption">                        	
                            <p>Mueble Salón</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
       </div><!-- /.row -->
 		
<!-- Segunda fila de fotos -->
	<div class="row">
  		<div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 D/IMG-20150323-WA0006wmdf.jpg' %}" alt="Estepona alquilar piso en paseo marítimo">
                    		<div class="caption">                        	
                            <p>Salón comedor</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 D/20150623_193536cutwmdf.jpg' %}" alt="Estepona Costa del Sol">
                    		<div class="caption">                        	
                            <p>Salón sofá</p>                 			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 D/20150623_193454cutwmdf.jpg' %}" alt="Alquilar piso Estepona Costa del Sol">
                    <div class="caption">                        	
                            <p>Salón comedor</p>                 			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
	 </div><!-- /.row -->  
<!-- Tercera fila de fotos -->
	<div class="row">     
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 D/IMG-20150323-WA0009wmdf.jpg' %}" alt="Costa del Sol Estepona">
                    		<div class="caption">                        	
                            <p>Habitación con dos camas</p>                    			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 D/20150623_193736cutwmdf.jpg' %}" alt="Alquilar apartamento en la playa Estepona">
                    		<div class="caption">                        	
                            <p>Habitación con dos camas y terraza</p>  
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 D/20150623_193617cutwmdf.jpg' %}" alt="Alquilar piso en Estepona Málaga">
                    <div class="caption">                        	
                            <p>Habitación con dos camas y terraza vistas al mar</p>
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 --> 
	</div><!-- /.row -->   
  		    
<!-- Cuarta fila de fotos -->  
	<div class="row">	
  		 <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 D/IMG-20150323-WA0005-e1427136009250wmdf.jpg' %}" alt="Estepona alquiler de pisos">
                    		<div class="caption">                        	
                            <p>Cocina equipada</p>
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 D/IMG-20150323-WA0012-e1427136106748.jpg' %}" alt="Alquilar apartamento en Estepona">
                    		<div class="caption">                        	
                            <p>Vista al mar desde una de las terrazas</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 D/Edf_Fachada_PlayaCUT_2-300x245wmdf.jpg' %}" alt="">
                    <div class="caption">                        	
                            <p>Vista del Edificio desde la Playa</p>              			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 --> 
	</div><!-- /.row -->           
 

  <!-- FIN FOTOS -->
      <!-- START THE FEATURETTES -->

 

      <!-- /END THE FEATURETTES -->


    </div>

{% endblock %}