{% extends "landing/base.html" %}

{% load static %}

{% block main %}

    <section class="jumbotron-fm">
    	<div class="container">
        <!--	 -->

            <br> 
            <h1>Estepona pisos alquiler</h1>
            <p>Pisos con vistas al mar en el centro de Estepona</p>
			<br>
        </div> <!-- container -->
	</section>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
<!-- Primera fila de fotos -->      
      	<div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/ajedrez 20150924_145728 edited cutwmdf.jpg' %}" alt="Estepona paseo marítimo ajedrez">
                    		<div class="caption">                        	
                            <p>Situación privilegiada del Edificio</p>             			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/sofa airbnb 20160124_165201cutwmdf.jpg' %}" alt="Estepona vistas salón">
                    		<div class="caption">                        	
                            <p>Sofá salón</p>            			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/SalonTerraza 2 Cutwmdf.jpg' %}" alt="">
                    <div class="caption">                        	
                            <p>Salón comedor</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
       </div><!-- /.row -->
 		
<!-- Segunda fila de fotos -->
	<div class="row">
  		<div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/20160124_170535cutwmdf.jpg' %}" alt="Edificio Iberia Estepona terraza">
                    		<div class="caption">                        	
                            <p>Salón</p>                 			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/20160205_163126cutwmdf.jpg' %}" alt="Estepona alquilar piso Iberia">
                    		<div class="caption">                        	
                            <p>Salón comedor</p>            			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/20160124_170251cutwmdf.jpg' %}" alt="Estepona comedor">
                    <div class="caption">                        	
                            <p>Salón comedor</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
	 </div><!-- /.row -->  
<!-- Tercera fila de fotos -->
	<div class="row">     
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/Salon y pasillowmdf.jpg' %}" alt="Avenida de España 13, Estepona, 4C">
                    		<div class="caption">                        	
                            <p>Salón y pasillo</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/Iberia 4C dormit grandeCutwmdf.jpg' %}" alt="Dormir en Estepona">
                    		<div class="caption">                        	
                            <p>Habitación con dos camas y salida a terraza</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/Iberia 4C dormit grande balconCUTwmdf.jpg' %}" alt="Estepona dormir paseo marítimo">
                    <div class="caption">                        	
                            <p>Habitación principal con salida a terraza</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 --> 
	</div><!-- /.row -->   
  		    
<!-- Cuarta fila de fotos -->  
	<div class="row">	
  		 <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/Iberia 4C dormit pequeno 1Cutwmdf.jpg' %}" alt="Estepona habitación vistas al mar">
                    		<div class="caption">                        	
                            <p>Habitación con dos camas y vistas al mar</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/DSCF6441cutwmdf.jpg' %}" alt="Av de España 13 4C, Estepona">
                    		<div class="caption">                        	
                            <p>Habitación con dos camas y salida a terraza</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/DSCF5784 editedcutwmdf.jpg' %}" alt="Estepona paseo marítimo cocina">
                    <div class="caption">                        	
                            <p>Cocina equipada</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 --> 
	</div><!-- /.row -->           
 <!-- Quinta fila de fotos -->       
	<div class="row">      
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/4C-Cocina-Modf-2cutwmdf.jpg' %}" alt="Estepona habitación vistas al mar">
                    		<div class="caption">                        	
                            <p>Cocina</p>                   			                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/DSCF5786 editedcutwmdf.jpg' %}">
                    		<div class="caption">                        	
                            <p>Cocina y lavadero</p>          			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/DSCF6443cutwmdf.jpg' %}" alt="Estepona paseo marítimo cocina">
                    <div class="caption">                        	
                            <p>Cuarto de baño</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
	</div><!-- /.row -->            
 <!-- Sexta fila de fotos -->
	<div class="row">          
         <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/CuartoBano4Cwmdf.jpg' %}" alt="Estepona habitación vistas al mar">
                    		<div class="caption">                        	
                            <p>Cuarto de baño ducha</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/Entradawmdf.jpg' %}">
                    		<div class="caption">                        	
                            <p>Entrada adaptada a discapacitados</p>                 			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/Iberia 4C terraza grande 2Cutwmdf.jpg' %}" alt="Estepona paseo marítimo cocina">
                    <div class="caption">                        	
                            <p>Vista desde terraza dormitorios</p>                   			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->    
        	
     
      </div><!-- /.row -->

<!-- Séptima fila de fotos -->
	<div class="row">          
         <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/Iberia 4C terraza grandeCutmjwmdf.jpg' %}" alt="Estepona habitación vistas al mar">
                    		<div class="caption">                        	
                            <p>Vista desde la terraza</p>                 			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/View from balcony 4Ccutwmdf.jpg' %}">
                    		<div class="caption">                        	
                            <p>Vista desde la terraza. Al fondo Gibraltar</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/20150819_184208editedcutwmdf.jpg' %}" alt="Estepona paseo marítimo cocina">
                    <div class="caption">                        	
                            <p>Situación del piso desde el paseo marítimo</p>
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->            	     
      </div><!-- /.row -->

<!-- Octava fila de fotos -->
	<div class="row">          
         <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/20150819_185205 Defcutwmdf.jpg' %}" alt="Estepona habitación vistas al mar">
                    		<div class="caption">                        	
                            <p>Situación del piso desde el centro de Estepona</p>
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/13568fd1_originalwmdf.jpg' %}">
                    		<div class="caption">                        	
                            <p>Paseo marítimo Estepona desde abajo del edificio</p>       			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 C/e7bfdec6_originalwmdf.jpg' %}" alt="Estepona paseo marítimo cocina">
                    <div class="caption">                        	
                            <p>Situación privilegiada de Edificio Iberia</p>
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->            	     
      </div><!-- /.row -->

  <!-- FIN FOTOS -->


    </div>

{% endblock %}