<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Alquiler de apartamentos en Estepona, paseo marítimo, vistas al mar">
    <meta name="juan ruiz" content="">
    <link rel="shortcut icon" href="Imagenes/favicon.ico"/>

    <title>Estepona pisos alquiler</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'landing/assets/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="bootstrap-3.3.6/docs/assets/js/ie-emulation-modes-warning.js" rel="stylesheet">
    <link href="css/estilos.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="bootstrap-3.3.6/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Estepona alquilar piso</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Inicio</a></li>
           <!-- INICIA Menu desplegable Pisos-->                   
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ver Pisos <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="catalogo_4A.html">Piso 4º A</a></li>
                    <li><a href="catalogo_4B.html">Piso 4º B</a></li>
                    <li><a href="catalogo_4C.html">Piso 4º C</a></li>
                    <li><a href="catalogo_4D.html">Piso 4º D</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Más pisos</li>
                    <li><a href="turismoRural.html">Turismo Rural</a></li>
                  </ul>
                </li> 
  	 		<!-- INICIA Menu desplegable Disponibilidad -->
                <li class="dropdown">
                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Disponibilidad<span class="caret"></span>
                            </a>
                 <ul class="dropdown-menu" role="menu">
                   <li><a href="calendario4A.html">Calendario 4º A</a></li>
                   <li><a href="calendario4B.html">Calendario 4º B</a></li>             
                   <li><a href="calendario4C.html">Calendario 4º C</a></li>
                   <li><a href="calendario4D.html">Calendario 4º D</a></li>
                 </ul>
               </li>     
                  <!-- Fin Menu desplegable Disponibilidad-->
                        <li><a href="precios.html">Precios</a></li>
                        <li class="hidden"><a href="#">Noticias</a></li> 
                               
         <!-- INICIA Menu desplegable Estepona Imágenes -->                        
                 		<li class="dropdown">
                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Conocer Estepona<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                            	<li><a href="callesestepona.html">Calles Estepona</a></li>
                                <li class="divider"></li>
                                <li><a href="orquidarioestepona.html">Orquidario Estepona</a></li>
          <!-- Fin Menu desplegable Estepona Imágenes-->                         
                            </ul>
                        </li>              		  
                 <li><a href="#contact">Contactar</a></li>  
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div> <!-- div container -->
    </div> <!-- div navbar-wrapper -->


    <section class="jumbotron-fm">
    	<div class="container">
        <!--	 -->
            <a class="thumb pull-right">  
                    	<img class="jumbotron-img" src="Imagenes/paseolg.gif" alt="estepona paseo marítimo">
                    </a>
            <br> 
            <h1>Estepona pisos alquiler</h1>
            <p>Pisos con vistas al mar en el centro de Estepona</p>                
        </div> <!-- container -->
	</section>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
<!-- Primera fila de fotos -->      
      	<div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/4B tresillo salon 2cutwmdf.jpg" alt="Estepona paseo marítimo">
                    		<div class="caption">                        	
                            	<p>Salón</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/4B mueble salon 1 tvcutwmdf.jpg" alt="Estepona paseo marítimo y playa">
                    		<div class="caption">                        	
                            	<p>Mueble salón</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/4B tresillo salon 1 cutwmdf.jpg" alt="alquilar piso Estepona tresillo">
                    		<div class="caption">                        	
                            	<p>Sofá salón</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
       </div><!-- /.row -->
 		
<!-- Segunda fila de fotos -->
	<div class="row">
  		<div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/4BSalon_2CUTwmdf.jpg" alt="piso alquilar Estepona dormitorio principal">
                    		<div class="caption">                        	
                            	<p>Salón comedor</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/Fotos Ana/Dormitorio Frontal LuzCUTwmdf.jpg" alt="piso alquilar Estepona dormitorio grande">
                    		<div class="caption">                        	
                            	<p>Dormitorio principal</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/Fotos Ana/Dormitorio Frontal ComodaCUTwmdf.jpg" alt="piso Estepona aquiler dormitorio matrimonio">
                    		<div class="caption">                        	
                            	<p>Dormitorio principal y espejo salida terraza</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
	 </div><!-- /.row -->  
<!-- Tercera fila de fotos -->
	<div class="row">     
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/Fotos Ana/Dormitorio Ventanas TerrazaCUTwmdf.jpg" alt="Estepona piso mirando al mar dormitorio">
                    		<div class="caption">                        	
                            	<p>Dormitorio principal y salida terraza</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/4B Dormitorio Vista cutwmdft.jpg" alt="Vistas playa Estepona">
                    		<div class="caption">                        	
                            	<p>Dormitorio principal vista desde la cama</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/4BDormiP_CUT_1wmdf.jpg" alt="Estepona habitación individual">
                    		<div class="caption">                        	
                            	<p>Dormitorio individual con vistas al mar y terraza</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 --> 
	</div><!-- /.row -->   
  		    
<!-- Cuarta fila de fotos -->  
	<div class="row">	
  		 <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/Fotos Ana/Dormitorio Dos camas frontalCUTwmdf.jpg" alt="Estepona habitación dos camas">
                    		<div class="caption">                        	
                            	<p>Dormitorio dos camas con vistas al mar y terraza</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/4BCocinaCUTwmdf.jpg" alt="Estepona cocina en piso">
                    		<div class="caption">                        	
                            	<p>Cocina equipada con vistas al mar</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/4BCuartoBanoCUTwmdf.jpg" alt="Estepona alquilar cuarto de baño">
                    		<div class="caption">                        	
                            	<p>Cuarto de baño</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 --> 
	</div><!-- /.row -->           
 <!-- Quinta fila de fotos -->       
	<div class="row">      
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/Entradawmdf.jpg" alt="Estepona Edificio Iberia Entrada">
                    <div class="caption">                        	
                            <p>Entrada con acceso a discapacitados</p>                			                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/Imagen 8 CUTwmdf.jpg" alt="Esteponas vistas playa">
                    <div class="caption">                        	
                            <p>Vista desde la terraza</p>           			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/Imagen 5 CUTwmdf.jpg" alt="Estepona vista desde Eadifico Iberia">
                    <div class="caption">                        	
                            <p>Vista desde terraza salón</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
	</div><!-- /.row -->            
 <!-- Sexta fila de fotos -->
	<div class="row">          
         <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/4BTerrazaPek_CUT_1wmdf.jpg" alt="Esteponas vistas playa">
                    <div class="caption">                        	
                            <p>Terraza salón</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/Terraza Grande4BCUT copiawmdf.jpg" alt="Estepona Edificio Iberia paseo marítimo">
                    <div class="caption">                        	
                            <p>Vista desde la terraza dormitorios</p>                 			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="Imagenes/4 B/Edificio-Iberia-Paseo-Situacion cutwmdf.jpg" alt="Estepona vista del paseo marítimo Eadifico Iberia">
                    <div class="caption">                        	
                            <p>Situación privilegiada del edificio</p>                 			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->    
        	
     
      </div><!-- /.row -->

  <!-- FIN FOTOS -->
      <!-- START THE FEATURETTES -->

 

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
