{% extends "landing/base.html" %}

{% load static %}

{% block main %}

      </div> <!-- div container -->
    </div> <!-- div navbar-wrapper -->


    <section class="jumbotron-fm">
    	<div class="container">
        <!--	 -->
            <a class="thumb pull-right">  
                    	<img class="jumbotron-img" src="{% static 'landing/Imagenes/paseolg.gif" alt="estepona paseo marítimo">
                    </a>
            <br> 
            <h1>Estepona pisos alquiler</h1>
            <p>Pisos con vistas al mar en el centro de Estepona</p>
            <br>
            <br>
        </div> <!-- container -->
	</section>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container-fluid">

      <!-- Three columns of text below the carousel -->
      <div class="row">
<!-- Primera fila de fotos -->      
      	<div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/4B tresillo salon 2cutwmdf.jpg' %}" alt="Estepona paseo marítimo">
                    		<div class="caption">                        	
                            	<p>Salón</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/4B mueble salon 1 tvcutwmdf.jpg' %}" alt="Estepona paseo marítimo y playa">
                    		<div class="caption">                        	
                            	<p>Mueble salón</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/4B tresillo salon 1 cutwmdf.jpg' %}" alt="alquilar piso Estepona tresillo">
                    		<div class="caption">                        	
                            	<p>Sofá salón</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
       </div><!-- /.row -->
 		
<!-- Segunda fila de fotos -->
	<div class="row">
  		<div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/4BSalon_2CUTwmdf.jpg' %}" alt="piso alquilar Estepona dormitorio principal">
                    		<div class="caption">                        	
                            	<p>Salón comedor</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/Fotos Ana/Dormitorio Frontal LuzCUTwmdf.jpg' %}" alt="piso alquilar Estepona dormitorio grande">
                    		<div class="caption">                        	
                            	<p>Dormitorio principal</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/Fotos Ana/Dormitorio Frontal ComodaCUTwmdf.jpg' %}" alt="piso Estepona aquiler dormitorio matrimonio">
                    		<div class="caption">                        	
                            	<p>Dormitorio principal y espejo salida terraza</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
	 </div><!-- /.row -->  
<!-- Tercera fila de fotos -->
	<div class="row">     
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/Fotos Ana/Dormitorio Ventanas TerrazaCUTwmdf.jpg' %}" alt="Estepona piso mirando al mar dormitorio">
                    		<div class="caption">                        	
                            	<p>Dormitorio principal y salida terraza</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/4B Dormitorio Vista cutwmdft.jpg' %}" alt="Vistas playa Estepona">
                    		<div class="caption">                        	
                            	<p>Dormitorio principal vista desde la cama</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/4BDormiP_CUT_1wmdf.jpg' %}" alt="Estepona habitación individual">
                    		<div class="caption">                        	
                            	<p>Dormitorio individual con vistas al mar y terraza</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 --> 
	</div><!-- /.row -->   
  		    
<!-- Cuarta fila de fotos -->  
	<div class="row">	
  		 <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/Fotos Ana/Dormitorio Dos camas frontalCUTwmdf.jpg' %}" alt="Estepona habitación dos camas">
                    		<div class="caption">                        	
                            	<p>Dormitorio dos camas con vistas al mar y terraza</p>                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/4BCocinaCUTwmdf.jpg' %}" alt="Estepona cocina en piso">
                    		<div class="caption">                        	
                            	<p>Cocina equipada con vistas al mar</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/4BCuartoBanoCUTwmdf.jpg' %}" alt="Estepona alquilar cuarto de baño">
                    		<div class="caption">                        	
                            	<p>Cuarto de baño</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 --> 
	</div><!-- /.row -->           
 <!-- Quinta fila de fotos -->       
	<div class="row">      
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/Entradawmdf.jpg' %}" alt="Estepona Edificio Iberia Entrada">
                    <div class="caption">                        	
                            <p>Entrada con acceso a discapacitados</p>                			                			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/Imagen 8 CUTwmdf.jpg' %}" alt="Esteponas vistas playa">
                    <div class="caption">                        	
                            <p>Vista desde la terraza</p>           			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/Imagen 5 CUTwmdf.jpg' %}" alt="Estepona vista desde Eadifico Iberia">
                    <div class="caption">                        	
                            <p>Vista desde terraza salón</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
	</div><!-- /.row -->            
 <!-- Sexta fila de fotos -->
	<div class="row">          
         <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/4BTerrazaPek_CUT_1wmdf.jpg' %}" alt="Esteponas vistas playa">
                    <div class="caption">                        	
                            <p>Terraza salón</p>               			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/Terraza Grande4BCUT copiawmdf.jpg' %}" alt="Estepona Edificio Iberia paseo marítimo">
                    <div class="caption">                        	
                            <p>Vista desde la terraza dormitorios</p>                 			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->
        <div class="col-lg-4">
        	<div class="thumbnail">                   	
    	  		<img src="{% static 'landing/Imagenes/4 B/Edificio-Iberia-Paseo-Situacion cutwmdf.jpg' %}" alt="Estepona vista del paseo marítimo Eadifico Iberia">
                    <div class="caption">                        	
                            <p>Situación privilegiada del edificio</p>                 			
                    		</div> <!-- caption -->
          	</div> <!-- thumbnail -->
        </div> <!-- /.col-lg-3 -->    
        	
     
      </div><!-- /.row -->

  <!-- FIN FOTOS -->
      <!-- START THE FEATURETTES -->

 

      <!-- /END THE FEATURETTES -->


     
  </body>
</html>

{% endblock %}