{% extends "landing/base.html" %}

{% load static %}

{% block main %}

<!-- Main -->
    <div id="main">

        <!-- One -->
            <section id="one">
                <div class="image main" data-position="center">
                    <img src="{% static 'landing/images/Psicologia1CutContacto.jpg' %}" alt="" />
                </div>
                <div class="container">
                    <header class="major">
                        <h1>Mensaje enviado correctamente</h1>
                        <p>Muchas gracias!<br/></p>
                    </header>
                </div>
            </section>

    </div>

{% endblock %}