{% extends "landing/base.html" %}

{% load static %}

{% block main %}

<!-- Main -->
    <div id="main">

        <!-- One -->
            <section id="one">
                <div class="image main" data-position="center">
                    <img src="{% static '' %}" alt="" />
                </div>
                <div class="container">
                    <header class="major">
                        <h1>Mensaje enviado correctamente</h1>
                        <h3>Muchas gracias!</h3>
                        <br>
                    </header>
                </div>
            </section>

    </div>

{% endblock %}