@charset "utf-8";
/* CSS Document */
/* -- HEADER --*/
.navbar {
	margin-bottom: 0;
}

.jumbotron-fm {
	background:#428BCA;
	color:#fff;
	margin:80px 0;
	padding:20px 0;
}
/* -- Imagenes -- */

/* -- img:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
} -- */

/* -- img 
img{
    height: 250px;
    width: 400px;
    margin: 0 0;
} -- */
 

/* -- POST -- */
. main {
	margin-top:20px;
	margin-bottom:20px;
}

.post {
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #999;
}

.post .post-title a {
	color:#333;
}

.post .thumb {
	margin-right:10px;
	width:40%;
}
/* -- Le decimos a la imagen que dentro del contenedor al 40% tenga un tamaño del 100% -- */
.post .thumb img {
	width:100%;
}

. post .contenedor-botones {
	width:100%;
}
.footer {
	background:#428BCA;
	padding:40px;
	padding-bottom:20px;
}

/* -- Media Querie --*/
/* @media screen and (max-width: 768px) {
	.post .thumb {
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	} */
}
